body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
    background: url("../assets/img/postit_backgroundpostit_background.png");
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 650px;
    gap: 10px;
    flex: none;
    flex-grow: 0;
    background-color: white;
}

.frase {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 90px;

    text-align: right;

    color: #A3D5DD;

    flex: none;
    order: 0;
    flex-grow: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 325px;
    height: 470px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

form i {
    background-color: white;
    margin-left: -30px;
    cursor: pointer;
}

.titulo {
    width: 305px;
    height: 160px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #69c5d3;
}

.textfield {
    display: inline-block;
    position: relative;
    text-align: center;
}

.textfield input {
    padding: 10px 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.textfield input#username,.textfield input#verifyUser {
    margin-left: 7px;
}

.textfield#registerLogin {
    display: inline-block;
    position: relative;
}

.textfield#createNewPassword {
    display: none;
    position: relative;
}

.errorRegsLogin {
    color: red;
    font-size: 10px;
    letter-spacing: 1px;
    margin-top: 8px;
    margin-bottom: 4px;
    display: none;
}

button {
    background: none;
    color: #ec6e6e;
    margin-top: 10px;
    width: 10rem;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}

button#senhaEsq {
    color: #ec6e6e;
    font-size: 14px;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

button#changePsw {
    color: black;
    background: none;
    margin-top: 10px;
    width: 10rem;
    padding: 8px;
    border-radius: 10px;
    display: inline-block;
}