.container-postit-area {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0 12px;
	gap: 16px;
}

.form-postit {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 12px;
	align-self: stretch;
}

.form-postit h3 {
	align-self: center;
}

.form-postit form {
	gap: 15px;
}

form.form-postit input[type="text"], 
form.form-postit textarea {
	border-radius: 4px;
	border: solid #5C5C5C 1px;
	padding: 8px;
	font-size: 1rem;
	width: 265px;
}

form.form-postit textarea {
	max-width: 265px;
	height: 140px;
}

form .options-panel {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	align-self: stretch;
}

form .form-postit-buttons {
	justify-content: flex-end;
}

form .form-postit-buttons button {
	border: solid var(--black) 1px;
	border-radius: 100px;
	height: 2.3rem;
	width: 5rem;
}

#btn-postit {
	color: white;
	background-color: var(--black);
}

#btn-postit:hover {
	color: var(--black);
	background-color: white;
	cursor: pointer;
}

#btn-limpar {
	background-color: white;
}

#btn-limpar:hover {
	cursor: pointer;
	font-weight: bold;
}

#btn-limpar:active {
	color: white;
	background-color: var(--black);
}

.options-panel select {
	border-radius: 5px;
	height: 32px;
	padding: 0 5px;
}

.options-panel input[type="checkbox"] {
	margin-right: -5px;
	margin-left: 10px;
}

.posts-recentes-comunidade {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.postit-area {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.post-it {
	width: 210px;
	height: 180px;
	background-color: var(--yellow);
}