@font-face {
	font-family: 'Roboto';
	src: url('../assets/fonts/Roboto-Regular.ttf'),
}

p {
    width: 780px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.1px;

    color: black;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    z-index: -1;
}

#mainSobre {
	display: flex;
	flex-direction: column;
	align-self: center;
    align-items: center;
	gap: 10px;
	flex: none;
	flex-grow: 0;
}

.image {
    width: 283px;
    height: 342px;

    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: -1;
}