* {
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: 'Roboto';
	src: url('../assets/fonts/Roboto-Regular.ttf'),
}

:root {
	--white: #F6FEFC;
	--yellow: #FFC03F;
	--blue: #9FD5DF;
	--pink: #F0A2A2;
	--green: #A2D5C3;
	--screen-width: 1024px;
}

body {
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	background: url("../assets/img/postit_backgroundpostit_background.png");
}

header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-right: 24px;
	gap: 48px;
	height: 100px;
	flex: none;
	align-self: stretch;
	flex-grow: 0;
	/* border-bottom: 2px solid #CAC4D0; */
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	isolation: isolate;
	flex: none;
	align-self: stretch;
	flex-grow: 1;
}

header ul {
	list-style-type: none;
	overflow: hidden;
}

header ul li {
	float: left;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--white);
	border: 1px solid #79747E;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 1;
}

header ul li:hover {
	background: rgba(29, 25, 43, 0.08);
}

header ul li:hover a{
	font-weight: bold;
}

header ul li a {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #222;
}

.container-main {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px 0px 0px;
	width: var(--screen-width);
	background-color: var(--white);
	flex: none;
	order: 0;
	flex-grow: 1;
}

.container-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	isolation: isolate;
	flex: none;
	align-self: stretch;
	flex-grow: 1;
}

img.logo {
	width: 200px;
	height: 100px;
}

img.logo:hover {
	cursor:pointer;
}

.btn-segment {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 48px;
	flex: none;
	order: 0;
	flex-grow: 1;
	z-index: 0;
}

header ul li#btn-principal {
	border-radius: 100px 0px 0px 100px;
}

header ul li#btn-contatos {
	border-radius: 0px 100px 100px 0px;
}

.dropdown-contatos {
	display: none;
	position: absolute;
	background-color: var(--white);
	min-width: 200px;
	margin-top: 186px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

header ul li#btn-contatos:hover .dropdown-contatos {
	display: block;
}

header ul li#btn-contatos:hover .dropdown-contatos a {
	font-weight: 400;
	padding: 8px 0 8px;
}

header ul li#btn-contatos:hover .dropdown-contatos a:hover {
	background-color: rgba(29, 25, 43, 0.08);
}

.user-area {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 20px 0px;
	gap: 10px;
	flex: none;
	align-self: stretch;
	flex-grow: 0;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	flex: none;
	flex-grow: 0;
}

p {
    width: 780px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.1px;

    color: #000000;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    z-index: -1;
}

.image {
    width: 283px;
    height: 342px;

    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: -1;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: var(--screen-width);
	height: 80px;
	flex: none;
	align-self: stretch;
	flex-grow: 0;
}

img.logoF {
    width: 173px;
    height: 60px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.textN {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
    gap: 24px;

    width: 597px;
    height: 42px;

    background: #E7AF20;
    border-radius: 100px;

    flex: none;
    order: 2;
    flex-grow: 0;
}

span.nomes {
    width: 98px;
    height: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

span.ano {
    width: 124px;
    height: 40px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;

    color: #126EB7;

    flex: none;
    order: 3;
    flex-grow: 0;
}