@import './main.css';

.table-section {
	padding: 1.2rem;
}

.table-section .table-conector {
	background-color: #FFF;
	border: solid var(--black) 1px;
	border-radius: 7px;
}

.content-table {
	border-collapse: collapse;
	width: 100%;
}

.content-table thead tr {
	border-bottom: solid 3px var(--blue);
	text-align: left;
}

.content-table thead tr img {
	vertical-align: middle;
}

.content-table th, .content-table td {
	padding: 12px 15px;
}

.content-table tbody tr > td:first-child {
	padding: 0 4px;
	height: fit-content;
	width: 12px;
}

.content-table tbody tr > td:first-child img {
	padding: 4px;
}

.content-table tbody tr > td:first-child img:hover{
	border-radius: 100px;
	background-color: #F6FEFCC9;
}

.content-table tbody tr > td:first-child img:active{
	background-color: #F35757;
}

.content-table tbody tr:hover {
	background-color: var(--blue);
}

div.tfoot {
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: center;
	gap: 16px;
	height: 46px;
	border-top: solid var(--blue) 3px;
	padding-right: 12px;
}

div.tfoot button {
	border: none;
	background-color: var(--white);
	padding: 3px;
	border-radius: 100px;
}

div.tfoot button:hover{background-color: #DDD;} 
div.tfoot button:active{background-color: #CCC;}